<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button  (click)="sidevar.toggle()">
      <span class="material-icons">menu</span>
    </button>
    &nbsp;
    <div class="person">
      <span class="material-icons">
        account_circle
      </span>
    </div>&nbsp;
    <div class="user">
      <mat-label align="right">John Doe</mat-label>
      <button class="menu" mat-button [matMenuTriggerFor]="menu">
        <span class="material-icons">
          keyboard_arrow_down
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/internships" mat-menu-item>Editar perfil</button>
        <button mat-menu-item>Cerrar sesión</button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidevar [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list class="lista">
        <p><mat-list-item><mat-icon>dashboard</mat-icon>Dashboard</mat-list-item></p>
        <p><mat-list-item ><mat-icon>circle</mat-icon>Pasantias</mat-list-item></p>
        <p><mat-list-item routerLink="/internship-create"><mat-icon>circle</mat-icon>Crear Pasantia</mat-list-item></p>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >
      <router-outlet></router-outlet>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
    `
  </mat-sidenav-container>

</div>


