
.grid-container {
  display: grid;
  grid-template-columns: 41.65% 58.35%;
  background-color: white;
  font-family: 'Khula', sans-serif !important;
}
.grid-item {
  padding: 2vw;
}
.right_banner{
  color: white;
  background-color: #282a3f;
}
.right-form{
  width: 100%;
  font-family: 'Khula', sans-serif !important;
  margin-top: 10vw;
}
.welcome_title{
  font-size: 4vw;
  margin-left: 5vw;
  margin-bottom: 7vw;
}
.interlab_title{
  font-size: 7vw;
  margin-left: 5vw;
  margin-bottom: 10vw;
}
.login_title{
  font-size: 3vw;
  margin-left: 5vw;
}
.logo{
  width: 15%;
  height: 15%;
  margin-bottom: 4vw;
}
.btn_about{
  background-color: lightgrey !important;
  border-radius: 20px;
  width: 60%;
  text-align: center;
  display: block;
  margin-top: 2em;
  margin-left: 6vw;
  text-decoration: none !important;
}
a{
  text-decoration: none !important;
  color: black;
}
.text-field1{
  width: 90%;
  margin-bottom: 2vw;
}
.text-field2{
  width: 90%;
  margin-bottom: 2vw;
}

.btn_register {
  background-color: #2C305B !important;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  display: block;
  margin-top: 2em;
  margin-left: 2em;
  text-decoration: none !important;
  color: white !important;
}

.about{
  margin-top: 4em;
}
.about_text{
  text-align: justify;
}

mat-label {
  color: black;
  font-size: 1.1em;
}

mat-form-field {
  margin: 0.5em auto auto 0.5em;
}

.registerCompany{
  margin-left: 3vw;
}


@media only screen and (max-width: 1000px){
  .right_banner{
    display: none;
    width: 0;
  }
  .registerStudent{
    margin-left: 3vw;
  }
  .logo{
    width: 15%;
    height: 15%;
    margin-bottom: 4vw;
    margin-top:  1vw;
    margin-left: 35vw;
  }
  .btn_about{
    margin-left: 20vw;
  }
  .btn_register{
    margin-left: 10vw;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto !important;
  }
}

