@import url('https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;800&display=swap');

.column{
  float: left;
  width: 50%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 70%;
  font-family: 'Khula', sans-serif;
}

.example-full-width {
  width: 100%;
  padding-bottom: 1em;
}

mat-grid-tile {

}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-container .mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

img {
  object-fit: fill;
}
.welcome {
  height: 125%;
  width: 100%;
}

.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 10%;
  width: 10%;
}

.btn_register {
  background-color: #2C305B !important;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  display: block;
  margin: 2em auto auto auto;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
  color: #137ea8;
  padding: 0;
  margin-left: 0.5em;
}

mat-label {
  color: black;
  font-size: 1.1em;

}

mat-form-field {
  margin: 0.5em auto auto 0.5em;
}
