<mat-card class="card">
  <mat-card-content class="ib">
    <p class="ti">
          <span class="material-icons">
            edit
          </span>
      Informacion Básica
    </p>
    <mat-grid-list cols="10" rowHeight="5em">
      <mat-grid-tile colspan="3">
        <label class="titulos">Nombre de la empresa contratadora</label>
      </mat-grid-tile>
      <mat-grid-tile colspan="7">
        <mat-form-field appearance="legacy" class="llenar">
          <mat-label >Enter your name</mat-label>
          <label>
            <input matInput [formControl]="name" required>
          </label>
          <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile colspan="3">
        <label class="titulos">Titulo del empleo</label>
      </mat-grid-tile>
      <mat-grid-tile colspan="7">
        <mat-form-field appearance="legacy" class="llenar">
          <mat-label >Enter a title for your internship</mat-label>
          <label>
            <input matInput [formControl]="title" required>
          </label>
          <mat-error *ngIf="title.invalid">{{getErrorMessageTitle()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile colspan="3">
        <label class="titulos">Ubicacion</label>
      </mat-grid-tile>
      <mat-grid-tile colspan="7">
        <mat-form-field appearance="legacy" class="llenar">
          <mat-label >Enter a the ubication</mat-label>
          <label>
            <input matInput [formControl]="ubic" required>
          </label>
          <mat-error *ngIf="title.invalid">{{getErrorMessageUbic()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>


      <mat-grid-tile colspan="3">
        <label class="titulos">Salario</label>
      </mat-grid-tile>
      <mat-grid-tile colspan="7">
        <mat-form-field appearance="legacy" class="llenar">
          <mat-label>Amount</mat-label>
          <input matInput type="number">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>

    <button mat-stroked-button class="bt-sig" routerLink="/paso-dos">
              <span class="material-icons">
                keyboard_arrow_right
              </span>
      Siguiente
    </button>
  </mat-card-content>
</mat-card>
