
.example-card {
  max-width: 500px;
}

.smaltype{
  font-size: 10%;
}

.botonazul {
  margin-left: 16vw;
  margin-top: 2vw;
  width: 42px; height: 20px;
  padding: 1px 10px;
  background-color: #2271b3; /* Color Rojo */
  color: white!important;
  font-size: 80%;
  border-radius: 10px;
}
.example-header-image {
  width: 500px; height: 80px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSYi3UVxHkW7KBbri1vlH8JoFzgdyaIA8EOEj9SoFl2J9Nw8ga_&usqp=CAU');
  background-size: cover;
  border-radius: 20px 20px 20px 20px;
}


.example-section {

  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  transform: translateX(300px);
  margin: 0 10px;
}

.custom-radio-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* Modificador para dar la imagen de checkbox */
.custom-radio-checkbox__show--checkbox {
  background-image: url(https://i.ibb.co/L9ghYN3/Estrella-UNChecked.png);
}

/* Modificador para dar la imagen de radio */
.custom-radio-checkbox__show--radio {
  background-image: url(https://i.ibb.co/L9ghYN3/Estrella-UNChecked.png);
}

/* Oculta input original */
.custom-radio-checkbox > .custom-radio-checkbox__input {
  display: none;
}

/* Radio personalizado usando <span> */
.custom-radio-checkbox > .custom-radio-checkbox__show {

  display: inline-block;
  transform: translateY(-11px);
  width: 40px;
  height: 40px;
  margin-right: .5rem;
  background-size: cover;
}

/* Cambia el checkbox personalizado cuando es pulsado */
.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--checkbox {
  background-image: url(https://i.ibb.co/wdh6sjB/Estrella-Checked.png);
}

/* Cambia el radio personalizado cuando es pulsado */
.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--radio {
  background-image: url(https://i.ibb.co/wdh6sjB/Estrella-Checked.png);
}

.custom-radio-checkbox{
  margin-top: 1vw;
}


@media only screen and (max-width: 1000px){

  .sa{
    width: 100vw;
  }

  .example-card{
    width: 40vw !important;
  }

  .example-header-image{
    width: 46.5vw !important;
  }

  .title{
  }
  .tr{
    width: 50vw;
  }
  .custom-radio-checkbox__show--checkbox{
    width: 100vw;
    border-radius: 20px
  }

  .custom-radio-checkbox__show{
    width: 10vw;
  }

  .custom-radio-checkbox__input{
    margin-right: 10vw;
  }

  .custom-radio-checkbox__text{
    width: 5vw;
  }

  .imagen1{
    max-width: 10vw;
  }

  .text{
  }

  .botonazul{
    margin-top: 3vw;
    transform: translateX(-19vw);
  }

  .custom-radio-checkbox{
    margin-right: 10vw !important;
  }

  .subtitle{
    width: 30vw;
  }

  .title2{
    margin-top: 2vw;
  }

}
