



.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.buscar{
  font-size: 15px;
}

.person{
  transform: translateX(660px);
}

.user{
  transform: translateX(660px);
}

.pading{
  padding-left: 50px;
}

.position-icon{
  transform: translateY(5px);
  padding-right: 20px;
}









.example-card {
  max-width: 650px;
  border-radius: 20px 20px 1px 1px;
}

.smaltype{
  font-size: 10%;
}

.botonazul {
  transform: translateX(300px);
  width: 42px; height: 20px;
  padding: 1px 10px;
  background-color: #2271b3; /* Color Rojo */
  color: white!important;
  font-size: 80%;
  border-radius: 10px;
}
.example-header-image {
  width: 683px; height: 80px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR9sGTfquMDW2uvTdMmH9YlbkREVR7yvaGGMg&usqp=CAU');
  border-radius: 1px 1px 20px 20px;
  background-size: cover;
}



.moveAvatar {
  position: relative;
  top: 1px; /* ajustar los valores para mover la imagen */
  left: 1000px;

}





.example-section {

  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  transform: translateX(300px);
  margin: 0 10px;
}









.custom-radio-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: arial;
}

/* Modificador para dar la imagen de checkbox */
.custom-radio-checkbox__show--checkbox {
  background-image: url(https://i.ibb.co/L9ghYN3/Estrella-UNChecked.png);
}

/* Modificador para dar la imagen de radio */
.custom-radio-checkbox__show--radio {
  background-image: url(https://i.ibb.co/L9ghYN3/Estrella-UNChecked.png);
}

/* Oculta input original */
.custom-radio-checkbox > .custom-radio-checkbox__input {
  display: none;
}

/* Radio personalizado usando <span> */
.custom-radio-checkbox > .custom-radio-checkbox__show {

  display: inline-block;
  transform: translateY(-11px);
  width: 40px;
  height: 40px;
  margin-right: .5rem;
  background-size: cover;
}

/* Cambia el checkbox personalizado cuando es pulsado */
.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--checkbox {
  background-image: url(https://i.ibb.co/wdh6sjB/Estrella-Checked.png);
}

/* Cambia el radio personalizado cuando es pulsado */
.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--radio {
  background-image: url(https://i.ibb.co/wdh6sjB/Estrella-Checked.png);
}








