<div class="dashboard-container">
  <nav class="left-nav" *ngIf="showNavbar" [@inOutAnimation]>
    <div class="logo-container">
      <img class="logo" src="../assets/InterLab.png" alt="interlab">
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboardStudent" routerLinkActive="active-link">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/findInternship" routerLinkActive="active-link">Search Internship</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/history" routerLinkActive="active-link">Internship History</a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <header class="dashboard-header" [ngClass]="showNavbar ? 'dashboard-header' : 'dashboard-header-no-margin'">
      <div class="toggleNav">
        <span (click)="toggleNavbar()" class="material-icons menuIcon">
          menu
        </span>
      </div>
      <div class="dropdown">
        <button (click)="toggleDropdown()" class="profile-container">
            <img class="profile-picture" src="../assets/profile-picture.jpg" alt="profile-picture">
            <div class="profile-text-container">
              <p class="name">Gino Quispe</p>
              <p class="role">Student</p>
          </div>
        </button>
        <div class="options" *ngIf="showDropdown">
          <ul class="options-list">
            <li class="options-list-item">
              <a class="options-link" routerLink="/editProfile" routerLinkActive="active-link">Edit Profile</a>
            </li>
            <li class="options-list-item">
              <a class="options-link" routerLink="/login" routerLinkActive="active-link">Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="dashboard-content">
      <div class="contentTitleContainer">
        <h1 class="contentTitle">My Dashboard</h1>
      </div>
      <div class="applicationsContainer">
        <div class="applicationRow">
          <div class="application">
            <div class="title-container">
              <h1 class="application-title">Information Technology Intern, Summer 2021</h1>
            </div>
            <p class="application-id">Id: 650858</p>
            <p class="application-state">In process</p>
          </div>
          <div class="application selected">
            <div class="title-container">
              <h1 class="application-title">Opportunities for Students, 2021</h1>
            </div>
            <p class="application-id">Id: 650858</p>
            <p class="application-state">Selected</p>
          </div>
        </div>
        <div class="applicationRow">
          <div class="application">
            <div class="title-container">
              <h1 class="application-title">Software Engineering Internship</h1>
            </div>
            <p class="application-id">Id: 650858</p>
            <p class="application-state">In process</p>
          </div>
          <div class="application notSelected">
            <div class="title-container">
              <h1 class="application-title">Engineering Summer Internship, 2020</h1>
            </div>
            <p class="application-id">Id: 650858</p>
            <p class="application-state">Not Selected</p>
          </div>
        </div>
      </div>
      <div id="chart">
        <apx-chart style="width: 80%;"
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [grid]="chartOptions.grid"
          [yaxis]="chartOptions.yaxis"
          [stroke]="chartOptions.stroke"
          [markers]="chartOptions.markers"
          [title]="chartOptions.title"
          [tooltip]="chartOptions.tooltip"
          [colors]="chartOptions.colors"
        ></apx-chart>
      </div>
    </section>
  </div>
</div>



