.dashboard-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
  font-weight: 300;
  font-size: 1em;
  min-width: 350px;
  z-index: -1;
}

.left-nav {
  width: 15%;
  min-width: 195px;
  border-right: 1px solid #3333337c;
  z-index: 999;
  background: #fff;
}

.content {
  width: 100%;
  overflow:auto;
  max-width: auto;
}

.logo-container {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-height: 30%;
}

.nav-list {
  height: 25%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 1rem;
}

.nav-item {
  display: inline-block;
  box-sizing: border-box;
  line-height: 42px;
  height: 42px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  color:#282a3f;
}

.nav-item:hover {
  background: #4B7BFF;
  color: #fff;
  font-weight: 400;
}

.nav-item:active {
  background: #4B7BFF;
  color: #fff;
  font-weight: 400;
}

.nav-link {
  padding-left: 1em;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color:inherit;
}

.active-link {
  background: #4B7BFF;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
}

.active-link:hover {
  background: #416ce2;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
}

.dashboard-header {
  height: 8%;
  padding: .5rem 0;
  transition: all .5s ease-in-out;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
}

.toggleNav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.menuIcon {
  margin: 1rem;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.menuIcon:hover {
  transform: scale(1.2);
}

.dropdown {
  display: inline-block;
  width: 15%;
  min-width: 180px;
  margin: .2em 1em;
  border-radius: 20px 20px 20px 20px;
  transition: all .2s ease-in-out;
}


.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 0px 0px 9px 6px rgba(0,0,0,0.26); 
  box-shadow: 0px 0px 9px 6px rgba(0,0,0,0.26);
  box-sizing: border-box;
  border: 0;
  margin: 0;
  background: #fff;
}

.profile-container:hover {
  background: rgba(216, 216, 216, 0.911);
  cursor: pointer;
}

.profile-container:focus {
  background: #fff;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0px -10px 9px -5px rgba(0,0,0,0.29); 
  box-shadow: 0px -10px 9px -5px rgba(0,0,0,0.29);
  outline: none;
}

.profile-picture {
  max-height: 80%;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 400;
  margin-left: 1em;
}

.name {
  margin: 0;
}

.role {
  margin: 0;
  color: #333333c4;
}

.options {
  min-width: 180px;
  -webkit-box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.26); 
  box-shadow: 3px 4px 9px -1px rgba(0,0,0,0.26);
  background: #fff;
  border-radius: 20px;
  margin: 0;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 84px;
  border-radius: inherit;
}

.options-list-item {
  position: relative;
  z-index: 999;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  line-height: 42px;
  height: 42px;
  background: #fff;
  border-radius: inherit;
}

.options-list-item:hover {
  background: rgb(238, 238, 238);
}

.options-link {
  display: block;
  text-decoration: none;
  color: #282a3f;
  padding-left: 1em;
  width: 100%;
}

.dashboard-content {
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chart {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 2rem;
}

h1 {
  margin: 0;
}

.contentTitleContainer {
  width: 98%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
}

.contentTitle {
  font-weight: 500;
  font-size: 1.5rem;
}

.applicationsContainer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.applicationRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.application {
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  margin: 1rem;
  padding: 1em;
  width: 50%;
  background: rgb(245, 245, 245);
  height: auto;
  transition: all .2s ease-in-out;
}

.application:hover {
  transform: scale(1.1);
}

.title-container {
  height: 4em;
  line-height: 4em;
  overflow: hidden;
}

.application-title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.application-id {
  margin-top: .5em;
  font-size: 0.8rem;
}

.application-state {
  font-size: .8rem;
  font-weight: 600;
}

@media only screen and (max-width: 950px) {
  .left-nav {
    width: 30%;
    height: 100%;
    min-width: 170px;
    border-right: 1px solid #3333337c;
    transition: all .2s ease-in-out;
    z-index: 999;
    background: #fff;
    position: absolute;
  }
  
.nav-list {
  padding-left: 0;
}
  .dashboard-header {
    /* margin-left: 30%;
    margin-left: 195px; */
    margin-left: max(30%, 170px); 
  }
  .dashboard-header-no-margin {
    margin-left: 0px;
  }
  .applicationsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .applicationRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .application {
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    width: 60%;
    background: rgb(245, 245, 245);
    transition: all .2s ease-in-out;
  }
}

/* Keep at last so they can override default color */
.selected {
  background: #7599ff;
}

.notSelected {
  background: #ff7575;
}