.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.CompanyRegister {
  flex: 1;
}


.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.descripción{
  resize: none;
  transform: translateX(270px) translateY(-100px);
}

.sector{
  transform: translateX(10px);
  width: 674px;
}
.ciclo{
  width: 280px;
}
.universidad{
  width: 280px;
}


.cursando{
  padding-left: 19em;
}

.autodescription{
  padding-left: 10em;
}

.Sg{
  padding-left: 10em;
  transform: translateX(-20px);
}

.Title{
  transform: translateX(50px) translateY(-10px);
  font-size: 20px;
}

.Guardar{
  transform: translateX(60vw);
}

.Regresar{
  transform: translateX(-80px);
}

.Botones{
  width: 1000px;
  transform: translateY(200px) translateX(-18px);
}

.edit{
  max-width: 1000px;
  max-height: 360px;
  transform: translateX(50px);
}

.Edit-prfile-title{
  font-size: 30px;
  padding-left: 2em;
}

.person{
  transform: translateX(660px);
}

.menu{
  transform: translateX(-10px) translateY(-4px);
}

.user{
  transform: translateX(660px);
}

@media only screen and (max-width: 1000px){

  .sector{
    width: 40vw !important;
    margin-top: -3vw;
  }

  .Sg{
    padding-left: 7vw;
    margin-top: -3vw;
  }

  .ciclo{
    width: 40vw !important;
margin-left: 2.5vw;
    margin-top: -3vw;
  }

  .cursando{
    margin-right: 5vw;
    padding-left: 7vw !important;
    margin-top: -3vw;
  }

  .Botones{
    width: 70vw !important;
    height: 5vw !important;
  }

  .Regresar{
    margin-right: 20vw;
  }

  .Guardar{
    margin-right: 30vw;
  }

  .df{
padding-left: 8vw !important;
  }

  .universidad{
    width: 40vw !important;
    margin-top: -15vw;
    margin-left: 14vw;
  }

  .autodescription{
    padding-left: 2vw;
  }

  .descripción{
    width: 40vw !important;
    height: 30vw !important;
    transform: translateX(25vw) translateY(-4vw) !important;
    margin-top: -15vw;
  }

  .edit{
    width: 70vw !important;
    height: 100vw !important;
  }

  .Guardar{
    margin-left: -20vw;
  }
  .Regresar{
    margin-left: 2vw;
    margin-bottom: 5vw;
    transform: translateY(-6vw);
  }

  .example-container{
    margin-right: 5vw;
  }
}
