<mat-card class="card">
  <mat-vertical-stepper linear="true" #stepper class="stepper">
    <mat-step [stepControl]="firstFormGroup">
      <mat-card-content class="content">
        <p class="title">
          <span class="material-icons">edit</span>
          Basic Info
        </p>
        <form [formGroup]="firstFormGroup">
          <div class="grid-container">
            <div class="grid-item">
              <p class="titles">Company Name</p>
            </div>
            <div class="grid-item">
              <mat-form-field class="text-field">
                <mat-label >Enter your name</mat-label>
                <label>
                  <input matInput formControlName="name" required>
                </label>
                <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
              </mat-form-field>
            </div>

            <div class="grid-item">
              <p class="titles">Job Title</p>
            </div>
            <div class="grid-item">
              <mat-form-field class="text-field">
                <mat-label >Enter a title for your internship</mat-label>
                <label>
                  <input matInput formControlName="title" required>
                </label>
                <mat-error *ngIf="title.invalid">{{getErrorMessageTitle()}}</mat-error>
              </mat-form-field>
            </div>

            <div class="grid-item">
              <p class="titles">Location</p>
            </div>
            <div class="grid-item">
              <mat-form-field class="text-field">
                <mat-label >Enter the location</mat-label>
                <label>
                  <input matInput formControlName="location" required>
                </label>
                <mat-error *ngIf="location.invalid">{{getErrorMessageLocation()}}</mat-error>
              </mat-form-field>
            </div>

            <div class="grid-item">
              <p class="titles">Salary</p>
            </div>
            <div class="grid-item">
              <mat-form-field class="text-field">
                <mat-label>Amount</mat-label>
                <label>
                  <input matInput formControlName="salary" type="number">
                </label>
                <span matPrefix>$</span>
                <span matSuffix>.00</span>

              </mat-form-field>
            </div>
          </div>
        </form>
        <div>
          <button mat-stroked-button matStepperNext class="btn_Next">Next</button>
        </div>
      </mat-card-content>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <mat-card-content class="content">
        <p class="title">
          <span class="material-icons">edit</span>
          Job Description
        </p>
        <form [formGroup]="secondFormGroup">
          <div class="grid-container">
            <div class="grid-item">
              <label class="titles">Job Description</label>
            </div>
            <div class="grid-item">
              <mat-form-field class="text-field">
                <mat-label>Description</mat-label>
                <label>
                  <textarea class="text-area"  matInput formControlName="description"></textarea>
                </label>
                <mat-error *ngIf="description.invalid">{{getErrorMessageDescription()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div>
          <button mat-button matStepperPrevious class="btn_back">Back</button>
          <button mat-stroked-button matStepperNext class="btn_Next">Next</button>
        </div>
      </mat-card-content>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <mat-card-content class="content">
        <p class="title">
          <span class="material-icons">edit</span>
          Profile Requirements
        </p>
        <form [formGroup]="thirdFormGroup">
          <div class="grid-container">
            <div class="grid-item">
              <p class="titles">Field of expertise</p>
            </div>
            <div class="grid-item">
              <mat-form-field class="text-field">
                <mat-label>Enter the preferred field of the intern</mat-label>
                <label>
                  <input matInput formControlName="field" required>
                </label>
                <mat-error *ngIf="field.invalid">{{getErrorMessageField()}}</mat-error>
              </mat-form-field>
            </div>
            <div class="grid-item">
              <p class="titles">Semester</p>
            </div>
            <div class="grid-item">
              <mat-form-field class="text-field">
                <mat-label>Enter the preferred semester of the intern</mat-label>
                <label>
                  <input matInput formControlName="semester" required>
                </label>
                <mat-error *ngIf="semester.invalid">{{getErrorMessageSemester()}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>
        <div>
          <button mat-button matStepperPrevious class="btn_back">Back</button>
          <button (click)="createInternship()" mat-stroked-button matStepperNext class="btn_Next">Next</button>
        </div>
      </mat-card-content>
    </mat-step>
  </mat-vertical-stepper>

</mat-card>
