::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #282a3f;
    border-radius: 10px;
    width: 5px;
}

html, body { 
    height: 100%; 
    font-family: 'Khula', sans-serif;
}
body { 
    margin: 0; 
}